.active-box {
  width: 100%;
  background-image: url("../img/office_desk_2.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
}
.active-title {
  margin: auto;
  margin-top: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 65px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  max-width: 75%;
}
.active-description {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin-top: 40px;
  max-width: 80%;
}
.active-button {
  max-width: 200px;
  margin: auto;
  margin-top: 75px;
  text-align: center;
  transition: 0.3s ease;
}
.active-button:hover {
  transform: scale(1.2, 1.2);
}
.active-more {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  margin: auto;
  background-color: #E84545;
  border: 1px solid #E84545;
  box-sizing: border-box;
  outline: none;
  padding: 0 45px 0 45px;
  text-transform: uppercase;
}
.find-out-more {
  color: #fff;
}
@media (max-width: 1106px) {
  .active_box_container {
    padding-top: 20px !important;
}
}
@media (max-width: 961px) {
  .active-box {
    background-image: url("../img/office_desk_3.jpg");
}
}
@media (max-width: 871px) {
  .active_box_container {
    max-width: 783px !important;
    margin: auto !important;
  }
  .active-title {
    font-size: 45px;
    line-height: 55px;
  }
}
@media (max-width: 616px) {
  .active_box_container {
    max-width: 554px !important;
    margin: auto !important;
  }
  .active-title {
    font-size: 30px;
    line-height: 40px;
  }
  .active-description {
    font-size: 16px;
    margin-top: 25px;
  }
}
@media (max-width: 421px) {
  .active_box_container {
    max-width: 379px !important;
    margin: auto !important;
  }
  .active-title {
    font-size: 24px;
    line-height: 30px;
  }
  .active-button {
    margin-top: 45px;
  }
}
