.row-container {
  padding: 0px 15px 0px 15px;
}
.active-row {
  /*margin: 0px -15px;*/
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.active-item {
  margin: 0px 15px;
  margin-top: 55px;
  max-width: 310px;
}
.item-img {
  margin: auto;
  width: 55px;
  height: 55px;
}
#active-icon {
  font-size: 50px;
  color: #E84545;
}
.item-row-title {
  margin: auto;
  margin-top: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #2D3033;
  text-transform: uppercase;
}
.item-row-description {
  margin: auto;
  margin-top: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #6C7279;
}
@media (max-width: 1050px) {
  .row-container {
    max-width: 945px !important;
    margin: -25px 9% 0 9% !important;
    padding: 45px 15px 45px 15px !important;
  }
}
@media (max-width: 866px) {
  .row-container {
    max-width: 778px !important;
    margin: auto !important;
    margin-top: -25px !important;
  }
  #active-icon {
    font-size: 40px;
  }
}
@media (max-width: 710px) {
  .row-container {
    max-width: 639px !important;
  }
  .active-item {
    max-width: 80%;
    border-width: 100%;
    margin: 25px 15px 0px 15px !important;
  }
  .item-row-description {
    margin-bottom: 25px;
  }
}