.team-row {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.team-item {
  max-width: 215px;
  align-items: center;
  text-align: left;
  margin: 15px;
}
.t-photo {
  max-width: 215px;
  max-height: 215px;
  border-radius: 10px;
}
.personal-name {
  margin-top: 15px;
}
.t-name {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 20px;
  line-height: 22px;
  color: #2D3033;
}
.position {
  margin-top: 7px;
}
.t-position {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  color: #E84545;
  text-transform: uppercase;
}
.personal-description {
  margin-top: 15px;
}
.t-description {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  color: #6C7279;
}
.links-row {
  margin-top: 30px;
}
.links-least {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.least-item {
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #C6CACC;
  box-sizing: border-box;
}
.least-item:hover {
  border-color: khaki;
}
#team-icon {
  color: #C6CACC;
  transition: 0.3s ease;
}
#team-icon:hover {
  transform: scale(1.8, 1.8);
  color: khaki;
}
@media (max-width: 980px) {
  .team-container {
    max-width: 882px !important;
    margin: auto;
  }
  .team-item {
    max-width: 300px;
    align-items: center;
    text-align: center !important;
    margin: 15px;
  }
  .t-name {
    text-align: center;
  }
  .t-position {
    text-align: center;
  }
  .t-description {
    text-align: center;
  }
  .links-least {
    margin: auto;
    max-width: 215px;
    justify-content: space-around !important;
  }
}
@media (max-width: 660px) {
  .team-container {
    max-width: 594px !important;
    margin: auto;
    padding-top: 35px !important;
  }
  .team-item {
    max-width: 215px;
    align-items: center;
    text-align: center !important;
    margin: 65px 15px 0px 15px !important;
  }
  .t-photo {
    max-width: 180px;
    max-height: 180px;
  }
}
@media (max-width: 490px) {
  .team-container {
    max-width: 441px !important;
    margin: auto;
  }
  .team-item {
    max-width: 80% !important;
    align-items: center;
    text-align: center !important;
    margin: 15px;
  }
}